@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #FFF;
    background:
linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
background-color: #232927;
background-size: 100px 100px;
}
.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

li{
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: linear-gradient(
        0deg,
        hsl(211deg 37% 49%) 0%,
        hsl(209deg 36% 51%) 4%,
        hsl(207deg 36% 53%) 8%,
        hsl(206deg 37% 55%) 14%,
        hsl(204deg 37% 58%) 21%,
        hsl(202deg 37% 60%) 30%,
        hsl(200deg 37% 62%) 41%,
        hsl(198deg 37% 64%) 52%,
        hsl(196deg 37% 67%) 64%,
        hsl(195deg 37% 69%) 74%,
        hsl(193deg 37% 71%) 82%,
        hsl(191deg 37% 74%) 88%,
        hsl(189deg 36% 76%) 93%,
        hsl(187deg 35% 79%) 97%,
        hsl(186deg 34% 82%) 100%
    );
    max-width: 600px;
    margin: 2% auto;
    padding: 30px 50px ;
    text-align: center;
    border-radius: 9px;

}
.cuerpo {
    display: flex;
    flex-direction: column;
}
.container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: linear-gradient(
        195deg,
        hsl(211deg 37% 49%) 0%,
        hsl(209deg 36% 51%) 14%,
        hsl(207deg 36% 53%) 26%,
        hsl(206deg 37% 55%) 36%,
        hsl(204deg 37% 58%) 45%,
        hsl(202deg 37% 60%) 53%,
        hsl(200deg 37% 62%) 60%,
        hsl(198deg 37% 64%) 67%,
        hsl(196deg 37% 67%) 73%,
        hsl(195deg 37% 69%) 79%,
        hsl(193deg 37% 71%) 84%,
        hsl(191deg 37% 74%) 89%,
        hsl(189deg 36% 76%) 93%,
        hsl(187deg 35% 79%) 97%,
        hsl(186deg 34% 82%) 100%
    );
    max-width: 600px;
    margin: 2%;
    padding: 50px 60px;
    text-align: center;
    border-radius: 9px;
}
#weather-info {
    margin-top: 20px;
    border: 4px solid #ccc;
    padding: 20px;
    border-radius: 6px;
}
.lugar {
    font-size: 21px;
    margin: 2px;
    color: #fff;
}

img{
    height: 50px;
}
#weather-info h2{
    font-size: 60px;
    line-height: 60px;
    margin: -10px 0 10px;
    color: #FFF;
}
#weather-info p {
    margin: 10px 0;
    color: #cfcfd9;
    
}

.formulario {
    display: flex;
    flex-direction: column;    
}

input , button { 
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Montserrat", sans-serif;
}
button  {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #C0E0DE;
    border: 1px solid #C0E0DE;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
button:hover {
    width: 50%;
}
ul button {
    background-color: #232927;
}
@media screen and (max-width: 700px) {
    .pag{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}
